.comment-box
{
    background: linear-gradient(180deg, #1e91cf52 0%, #bd1ba221 100%); 
    border-radius: 15px;
}

.chirp-box
{
    background: linear-gradient(0deg, #6c85d1 0%, #8ef7e8 100%);
    border-radius: 12px;
}

.chirp-metadata
{
    background: linear-gradient(0deg, #6c85d154 20%, #8ef7e717 100%);
    border-radius: 30px;
}

.logo-box
{
    background: linear-gradient(0deg, #b66cd0 0%, #b8fff4ec 100%);
    border-radius: 10px;
}

.logo-text
{
    background: linear-gradient(0deg, #616161 0%, #000000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.post-image
{
    width: auto;
    background: linear-gradient(0deg, #52525265 0%, #e8e8e8b7 100%); 
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.7);
}

/* div
    {
        border: red solid 1px;
    } */

    
