.comment-box
{
    background: linear-gradient(180deg, #1e91cf52 0%, #bd1ba221 100%); 
    border-radius: 15px;
}

.chirp-box
{
    background: linear-gradient(0deg, #6c85d1 0%, #8ef7e8 100%);
    border-radius: 12px;
}

.chirp-metadata
{
    background: linear-gradient(0deg, #6c85d154 20%, #8ef7e717 100%);
    border-radius: 30px;
}